<h4><a href="https://areyouroot.github.io/index.html">home</a>
<h1><li>see for evenst offline and online </li>
<li>find new tech</li>
<li> do a research on cloud,blockchain,malware and its security</li>
</h1>
<ol><li>twitter</li>
<li>youtube</li>
<li>facebook</li>
<li>stackoverflow</li>
<li>qoura</li>
<li>github</li>
<li>geeksforgeeks</li>
<li>https://www.infosecurity-magazine.com/</li>
<li>see ur mobile app </li>
<li>discort</li>
<li>the hackernews</li>
<li>insta</li>
<li>https://www.cybersecurity-insiders.com/</li>
<li>https://www.lastwatchdog.com/</li>
<li>https://cyware.com/cyber-security-news-articles</li>
<li>thedarknet reddit dread</li>
<li>linked in</li>
<li>https://www.darkreading.com/</li>
<li>https://nvd.nist.gov/</li>
<li>https://wiki.hackerspaces.org/</li>
<li>owasp official website</li>
<li>https://shop.hak5.org/</li>
<li>https://www.hackerone.com/</li>
<li>https://www.bugcrowd.com/</li>
<li>https://www.intigriti.com/</li>
<li>https://www.synack.com/</li>
  <li>https://portswigger.net/</li>
<LI>http://www.phrack.org/</li>
  <li>https://www.indiabix.com/
answerthepublic.com</li>
<li>https://www.cypherhunter.com/ </li>
  <li>gmail all emails</li>
  
  Discord
Twitch
Pintest
Snap
Ticktok
