
<h1> do atleast 3 </h1>
<li>interconnect all social media</li>
<li><a href="https://areyouroot.github.io/index.html">home</a></li>

<ol><h3>
  <li>urine problem</li>
  <li>sinus</li>
  <li>walk alone in night and take videos</li>
  <li>study vaimpire</li>
  <li>eyes prob</li>
  <li>mouth smell and teeth</li>
<li>all holi scrutupes should be readed</li>
  1)islam,hinduism,geek,thora,bible,siks,jain,buddha,
<li>zainul majalis</li>
<li>Al-Muwahib al-Ladunniyyah</li>
<li>kir puri fathiya</li>
<li>hadith</li>
  <li>research about the watchers</li>
  <li>pick a lock</li>
  <li>garvi fatiya with songs</li>
  <li>keer puri fatiya</li>
  <li>go to any holy place</li>
  <li>do a prank "what year it is"</li>
  <li>learn cpr</li>
  
  book of enoch<br>
  
<li>,passport job
<li>medical basics</li>
<li>swimming</li>
<li>dog defence</li>
<li>how to ride horse</li>
<li>muaithai</li>
<li>bjj</li>
<li>aikido</li>
<li>hapkido</li>
<li>karvmaga</li>
<li>saloin kungfu</li>
<li>Wild safari</li>
<li>Add kaliri patu or sword sport</li>
<li>Dance</li>
<li>Acting</li>
<li>Cooking</li>
  <li>play with handicap</li>
<li>Makup</li>
<li>smarts</li>
<li>https://www.amazon.in/Immune-new-book-Kurzgesagt-Nutshell-ebook/dp/B08YR8FNCP/ref=sr_1_1?</li>
<li>dance class</li>
<li>acting class</li>
<li>cooking class</li>
<li>makeup class</li>
<li>play dandiya</li>
<li>massage</li>
<li>visit with g temple,churc,shik,jews,budaetc</li>
<li>go to a event with ur bro</li>
<li>go shopping and kfc with ur sis</li>
<li>go to debate with ur father</li>
<li>go to jwellery shop with ur mom</li>
<li>travel in<br>
  metro<br>plane<br>cruse</li>
<li>Go to a stand up comedy

</li>
  <li>if u can afford Private military course -1)https://www.centrefordefencecareers.co.in/civilian-commando-training-program/ 0)http://www.bjjindia.in/military-training/ 1)https://ebssa.net/course/russian-military-combat-system-course/ 2)https://ebssa.net/course/assault-team-tactics-course/ 3)https://ebssa.net/course/counter-terror-course/ 4)https://ebssa.net/course/private-military-contractor-course/ 5)https://ebssa.net/course/maritime-security-operative/ 6)https://ebssa.net/course/special-forces-introduction-course/<br><br></li>
1)pistol handeling -  https://ebssa.net/course/pistol-shooting-instructor-course/<br>
2)firearms-instructor-course - https://ebssa.net/course/firearms-instructor-course/<br>
3)Tactical Pistol course - https://ebssa.net/course/combat-pistol-course/<br>
4)Combined Firearms Course - https://ebssa.net/course/combined-firearms-course/<br>
5)Vehicle CQB course - https://ebssa.net/course/vehicle-cqb/<br>
6)Russian Military Combat System course - https://ebssa.net/course/russian-military-combat-system-course/<br>
7)Close Quarter Battle course - https://ebssa.net/course/close-quarter-battle-course/<br>
8)AK Operator course - https://ebssa.net/course/ak-operator-course/<br>
9)Tactical Carbine course - https://ebssa.net/course/tactical-carbine-course-2/<br>
10)Private Military Contractor course - https://ebssa.net/course/private-military-contractor-course/<br>
11)Security Driver course - https://ebssa.net/course/security-driver-course/<br>
12)Counter Terror course - https://ebssa.net/course/counter-terror-course/<br>
13)Russian Secret Service Tactical weapons course - https://ebssa.net/course/russian-secret-service-tactial-weapons-course/<br>
14)Maritime Security Operative - https://ebssa.net/course/maritime-security-operative/<br>
15)Special Forces Introduction course - https://ebssa.net/course/special-forces-introduction-course/<br>
16)Assault Team Tactics course - https://ebssa.net/course/assault-team-tactics-course/<br>
17)PSD in High Risk Areas course - https://ebssa.net/course/psd-high-risk-areas/<br>
18)fly helecopter
19)fly plane
20)ship
<br>
<li>Eat beef</li>
