<br>https://www.youtube.com/watch?v=JgFI470reFM<br>
see this before<br><br>

<br><br>https://www.numbeo.com/cost-of-living/rankings_by_country.jsp<br><br><br>
Travel with family friends stranger or alone
Add redit
try all social media in personal list
<br>
see mvtv

<li>do<br>https://www.youtube.com/user/smashingirfan<br>https://www.youtube.com/c/drewbinsky<br>https://www.youtube.com/c/DhruvRatheeVlogs<br>https://www.youtube.com/c/Daleroxxu<br></li>
 <br>https://www.youtube.com/c/Things2do/videos

https://www.worldometers.info/coronavirus/

<h1>not visited yet</h1>

swizerland<br>
Czech Republic<br>
kazan<br>
Denmark +
Austria
Portugal
New Zealand
Iceland
bulgaria
Cambodia
Portugal
Bolivia
Vietnam
Bhutan
saiberia
Hong Kong
Laos
Thailand
Maldives
UAE
Kenya
Taiwan
uk
Seychelles
Philippines
Turkey
Myanmar
Lebanon
Nepal
Dominican Republic
Tuvalu
Kiribati
Marshall Islands
Montserrat
Niue
American Samoa
Africa
 Algeria[1]
 Cameroon[2]
 Chad[3]
 Central African Republic[4]
 Republic of the Congo[5]
 Djibouti[6]
 Egypt[7]
 Gabon:[8] 
The Gambia[10]
 Guinea[11]
 Libya[12][13][14]
 Kenya[15]
 Mali[16]
 Mauritania[17]
 Morocco[18]
 São Tomé and Príncipe[20]
 Senegal[21]
 Somaliland[23]
 South Sudan[24]
 Sudan[25]
 Eswatini[26]
 Togo[27]
 Tanzania[28]
 Uganda[29]
 Zambia[30] <br>
 Afghanistan[31] ] danger<br>
 Bahrain[32]
 Bangladesh[33]
 Bhutan[34][35]
 Brunei[36]
 Indonesia (except for in the provinces of Maluku, North Maluku, Papua, and West Papua) [37]
 Iran[38]
 Jordan[40]
 Kuwait[41]
 Lebanon[42]
 Maldives[43]
 Oman[44]
 Qatar[45]<br>
 Palestine[47]
 Saudi Arabia[48]
 Sri Lanka[49][50][51]
 United Arab Emirates[53]
Oceania
 Solomon Islands[55]
 Malaysia[56]
 Philippines[57]
 Sri Lanka
 Singapore
siriya
Solomon Islands
Comoros
São Tomé and Príncipe
Federated States of Micronesia
Djibouti
Sierra Leone
Guinea
Tonga
Anguilla
Timor Leste
St. Vincent and the Grenadines
San Marino
Dominica
Liechtenstein
Vanuatu
St. Kitts and Nevis
New Caledonia
Eritrea
amsterdam
south korea
Moldova
Bahrain
Bolivia
Cape Verde
Comoros
Djibouti
Ethiopia
Gabon
Guinea
Guinea-Bissau
Iran
Kenya
Lesotho
Madagascar
Malawi
Maldives
Mauritania
Mozambique
Myanmar
goa
cuba
Palau
Rwanda
Saint Lucia
Samoa
Seychelles
Sierra Leone
Suriname
Tanzania
Togo
Tuvalu
Uganda
Uzbekistan
Zimbabwe

no visa

1. Barbados

2. Bhutan

3. Dominica

4. Grenada

6. Hong Kong SAR

7. Maldives

8. Mauritius

9. Montserrat

10. Nepal

11. Niue Island

12. Samoa

13. Senegal

14. Trinidad and Tobago

15. Saint Vincent and the Grenadines

16. Serbia - also see - 
visit Carolije iz Serpice, Žarka Zrenjanina 22, Pančevo 301207, Serbia


Venice
China
Russia
Zindagi Na milegi dobara places
https://youtu.be/h_xjfqrFl7o
https://youtu.be/IgAnj6r1O48
https://youtu.be/CxuiFNYnEr4
https://youtu.be/rn8ujnrLAd8
https://youtu.be/vayGPtphfwQ
https://youtu.be/6AvRtaToqFU
https://youtu.be/U5NcYL3MnCw
Punjab 
Indian laptops
Sekio lining
Cybersec company
Sri Lanka
Singapore
andaman and nikobar 
lakswadeep
turkey
south africa
malashia
nepal
fiji
australia
Indonesia 
Hong Kong	
Costa Rica.
Bolivia.
Mexico
canada
usa
japan 
brazil
France, 
Belgium, 
Switzerland
germany
austriaBelarus, 
Kyrgyzstan
Azerbaijan
Latvia
Lithuania
Uzbekistan
isl
asl
Arabic
German
French
Japanese
Spanish
Chinese
English
Hindi
Tamil
Russia
Russia
latvia
ukrain
Egypt
Saudi Arabia
jruselam
dubai


Estonia

Kinhu island

<h1>visited</h1>
<br>
<hr>
<br><br>
alpha countries<br><br>
tajakistan<br>
Yemen<br>
 Iran<br>
Tunisia<br>
 Morocco<br>
Saudi Arabia<br>
Palestine<br>
Jordan<br>
Libya<br>
Azerbaijan<br>
Pakistan<br>
Iraq<br>
Kosovo<br>
Turkmenistan<br>
 Bangladesh<br>
Egypt<br>
Turkey<br>
Uzbekistan<br>
 Syria<br>
Indonesia<br>
Oman<br>
Brunei<br>
Kyrgyzstan<br>
Qatar<br>
 United Arab Emirates<br>
Kuwait<br>
Bahrain<br>
 Kazakhstan<br>
Malaysia<br>
Albania<br>
Lebanon<br>
 Maldives<br>
 Afghanistan[29]<br>
Bangladesh[<br>
Laos-asia<br>
Singapore<br>
Russia<br>
Syria<br>
Iran<br>
Israel<br>
United States Virgin Islands<br>
india<br>
United States Virgin Islands<br>
Austria<br>
Finland<br>
France<br>
Germany<br>
Republic of Ireland<br>
Kyrgyzstan<br>
Malaysia<br>
Pakistan<br>
uk<br>
us<br>
https://www.similarweb.com/top-websites/russian-federation/category/community-and-society/romance-and-relationships/

<br>get love before 28 or when money = 10 lac marry a tajik girl or arrange marrage<br>

<!-- when money = 10 lac marry a tajik girl-->


